.gImage{
width: 250px;
height: 250px;

}
.searchButton{
background-color: #8FBC94 ;
height:30px;
color: white;
}
.searchbarFlex{
display: flex ;
justify-content: center;
padding-bottom: 100px;
}

.searchBar{
    width: 380px;
    height: 20px;
    background-color: #8FBC94;
    border: #6EB49D;
    color: white;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;

}

.showpg{
display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  
    

    
}

.eachMov{
    border: double 15px #8FBC94;
    background-color: #6EB49D;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
    padding: 10px; 
    grid-gap: 5px;
}
